## Vaccine effectivness in reducing the spread of COVID 19 in Tanzania

**Report by:** Paul Owe

**Derived from:** Mohamed Ibrahim Hameem

**Original work:** [Center for Systems Science and Engineering, Johns Hopkins University](https://www.thelancet.com/journals/laninf/article/PIIS1473-3099(20)30120-1/fulltext)

**Date:** Nov 6, 2021

### Import libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
from datetime import datetime
from scipy.stats import pearsonr

### Import datasets
About data: Time series summary tables, including confirmed, deaths and recovered. 

Update frequency: Daily, around 23:59 (UTC)

In [8]:
daily_cases= pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")

In [9]:
daily_deaths= pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv")

### Explore dataset 

#### Columns

In [10]:
daily_cases.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '10/27/21', '10/28/21', '10/29/21', '10/30/21', '10/31/21', '11/1/21',
       '11/2/21', '11/3/21', '11/4/21', '11/5/21'],
      dtype='object', length=658)

In [11]:
daily_deaths.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '10/27/21', '10/28/21', '10/29/21', '10/30/21', '10/31/21', '11/1/21',
       '11/2/21', '11/3/21', '11/4/21', '11/5/21'],
      dtype='object', length=658)

#### Data

In [30]:
daily_cases.head(20)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/27/21,10/28/21,10/29/21,10/30/21,10/31/21,11/1/21,11/2/21,11/3/21,11/4/21,11/5/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,156124,156166,156196,156210,156250,156284,156307,156323,156363,156392
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,183282,183873,184340,184887,185300,185497,186222,186793,187363,187994
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,206069,206160,206270,206358,206452,206566,206649,206754,206878,206995
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,15462,15505,15516,15516,15516,15516,15516,15572,15618,15618
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,64126,64226,64301,64374,64433,64458,64487,64533,64583,64612
5,NaN,Antigua and Barbuda,17.060800,-61.796400,0,0,0,0,0,0,...,4036,4040,4040,4058,4058,4062,4069,4069,4072,4078
6,NaN,Argentina,-38.416100,-63.616700,0,0,0,0,0,0,...,5284485,5286074,5287447,5288259,5288807,5289945,5291285,5292549,5293989,5295260
7,NaN,Armenia,40.069100,45.038200,0,0,0,0,0,0,...,300143,302450,304546,306739,308326,309397,310629,312674,315004,316839
8,Australian Capital Territory,Australia,-35.473500,149.012400,0,0,0,0,0,0,...,1749,1759,1768,1775,1780,1788,1803,1816,1822,1840
9,New South Wales,Australia,-33.868800,151.209300,0,0,0,0,3,4,...,74634,74887,75112,75278,75407,75578,75766,76073,76314,76580
10,Northern Territory,Australia,-12.463400,130.845600,0,0,0,0,0,0,...,225,225,225,225,225,225,225,226,227,228
11,Queensland,Australia,-27.469800,153.025100,0,0,0,0,0,0,...,2087,2089,2089,2089,2090,2090,2089,2092,2094,2095
12,South Australia,Australia,-34.928500,138.600700,0,0,0,0,0,0,...,918,918,918,918,918,918,918,918,918,918
13,Tasmania,Australia,-42.882100,147.327200,0,0,0,0,0,0,...,237,237,237,237,237,237,237,237,237,237
14,Victoria,Australia,-37.813600,144.963100,0,0,0,0,1,1,...,84942,86563,87918,88930,90261,91217,92126,93339,94669,95917
15,Western Australia,Australia,-31.950500,115.860500,0,0,0,0,0,0,...,1112,1112,1112,1112,1112,1112,1112,1112,1112,1112
16,NaN,Austria,47.516200,14.550100,0,0,0,0,0,0,...,809086,813334,819195,825297,830981,835504,840902,847408,856002,865390
17,NaN,Azerbaijan,40.143100,47.576900,0,0,0,0,0,0,...,522368,524788,526920,529109,531370,532570,534748,537004,539710,542150
18,NaN,Bahamas,25.025885,-78.035889,0,0,0,0,0,0,...,22259,22351,22351,22351,22351,22407,22429,22429,22485,22485
19,NaN,Bahrain,26.027500,50.550000,0,0,0,0,0,0,...,276685,276718,276749,276794,276829,276874,276917,276956,276983,277011

### Column verification check

In [22]:
# a = ["a", "b"]
# b = ["a", "b"]
# np.unique(a == b)

if np.unique(daily_cases.columns == daily_deaths.columns):
    print("Check passed. Columns are consistent")
else:
    print("Columns between two datasets are mismatched")

Check passed. Columns are consistent

1. Since we are performing an analysis at the country level, we will aggregate data using the Country/Region column.

2. Data in its current form (Dates as columns) is not suitable for analysis. Hence, we will need to transform that data.

The first point abovev is achieved by the following code, that pick the countries with more than one row. Having more than one record implies that the data is at the state level rather than country level. For example, Australian Capital Territory and New South Wales in rows 8 and 9.

In [25]:
np.unique(daily_cases['Country/Region'])

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'MS Zaandam', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova',
       'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Summer Olympics 2020', 'Suriname',
       'Sweden', 'Switzerland', 'Syria', 'Taiwan*', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'US', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'West Bank and Gaza', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [31]:
for ctry in np.unique(daily_cases['Country/Region']):
    num_ctry_record = len(daily_cases[daily_cases['Country/Region'] == ctry])
    if num_ctry_record >= 2:
        print(f"Country:{ctry}, Num of states in country records: {num_ctry_record}")

Country:Australia, Num of states in country records: 8
Country:Canada, Num of states in country records: 16
Country:China, Num of states in country records: 34
Country:Denmark, Num of states in country records: 3
Country:France, Num of states in country records: 12
Country:Netherlands, Num of states in country records: 5
Country:New Zealand, Num of states in country records: 2
Country:United Kingdom, Num of states in country records: 12

In [35]:
# Tanzania daily_cases Nov 6, 2021
daily_cases[daily_cases['Country/Region'] == "Tanzania"]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/27/21,10/28/21,10/29/21,10/30/21,10/31/21,11/1/21,11/2/21,11/3/21,11/4/21,11/5/21
247,NaN,Tanzania,-6.369028,34.888822,0,0,0,0,0,0,...,26154,26154,26154,26154,26154,26154,26154,26154,26196,26196

### Check for Hostname and IP

In [10]:
import socket
socket.gethostbyname(socket.gethostname())

'192.168.100.143'

In [9]:
# Python3 code to display hostname and
# IP address

# Importing socket library
import socket

# Function to display hostname and
# IP address
def get_Host_name_IP():
	try:
		host_name = socket.gethostname()
		host_ip = socket.gethostbyname(host_name)
		print("Hostname : ",host_name)
		print("IP : ",host_ip)
	except:
		print("Unable to get Hostname and IP")

# Driver code
get_Host_name_IP() #Function call

#This code is contributed by "Sharad_Bhardwaj".

Hostname :  Pauls-MBP
IP :  192.168.100.143